:root {
  --color-white: hsl(0, 0%, 100%);
  --color-dark-grey: hsl(0, 0%, 63%);
  --color-very-dark-grey: hsl(0, 0%, 27%);
  --color-black: hsl(0, 0%, 0%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 50%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.25rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.menu-btn__bar {
  display: inline-block;
  width: 3rem;
  height: 2px;
  background-color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-btn--active .menu-btn__bar--1 {
  -webkit-transform: translate(-3px, 8px) rotate(45deg);
          transform: translate(-3px, 8px) rotate(45deg);
  background-color: var(--color-dark-grey);
}

.menu-btn--active .menu-btn__bar--2 {
  opacity: 0;
}

.menu-btn--active .menu-btn__bar--3 {
  -webkit-transform: translate(-3px, -8px) rotate(-45deg);
          transform: translate(-3px, -8px) rotate(-45deg);
  background-color: var(--color-dark-grey);
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.disable-scroll {
  overflow-y: hidden;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

.intro__heading {
  overflow: hidden;
  background-color: black;
}

.intro__text {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  color: white;
  font-family: 'Heebo', sans-serif;
  font-size: 2.5rem;
}

@media only screen and (min-width: 800px) {
  .intro__text {
    font-size: 3.5rem;
  }
}

.intro__text--1 {
  color: #444444;
}

.intro__text--2 {
  font-size: 4.5rem;
}

@media only screen and (min-width: 400px) {
  .intro__text--2 {
    font-size: 5.5rem;
  }
}

@media only screen and (min-width: 800px) {
  .intro__text--2 {
    font-size: 6.5rem;
  }
}

.intro__text--3 {
  color: #c9c9c9;
  font-weight: 400;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.bg-filter {
  display: hidden;
  position: fixed;
  z-index: 3;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: opacity .5s, -webkit-backdrop-filter .5s;
  transition: opacity .5s, -webkit-backdrop-filter .5s;
  transition: opacity .5s, backdrop-filter .5s;
  transition: opacity .5s, backdrop-filter .5s, -webkit-backdrop-filter .5s;
}

@media only screen and (max-width: 999px) {
  .bg-filter--active {
    display: initial;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

.header-hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 800px) {
  .header-hero-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 auto;
          flex: 1 2 auto;
}

.header__nav-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 6rem;
}

@media only screen and (min-width: 1000px) {
  .header__nav-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 8rem;
  }
}

.header__menu-btn {
  position: absolute;
  z-index: 5;
  top: 5.75rem;
  left: 4rem;
}

@media only screen and (min-width: 1000px) {
  .header__menu-btn {
    display: none;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100vw;
  height: 13.5rem;
  background-color: white;
}

@media only screen and (max-width: 999px) {
  .header__nav--inactive {
    -webkit-transform: translateY(-13.5rem);
            transform: translateY(-13.5rem);
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
}

@media only screen and (max-width: 999px) {
  .header__nav--active {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
}

@media only screen and (min-width: 1000px) {
  .header__nav {
    display: initial;
    position: initial;
    -webkit-transform: initial;
            transform: initial;
    width: initial;
    height: initial;
    background-color: initial;
    opacity: initial;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -6rem;
  margin-bottom: -.5rem;
  list-style: none;
}

@media only screen and (min-width: 1000px) {
  .header__nav__list {
    margin: 0;
  }
}

.header__nav__list__item {
  position: relative;
}

.header__nav__list__item::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 0;
  height: 2px;
  background-color: black;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media only screen and (min-width: 1000px) {
  .header__nav__list__item::after {
    background-color: white;
  }
}

.header__nav__list__item:not(:last-child) {
  margin-right: 2.5rem;
}

.header__nav__list__item:hover::after {
  width: 100%;
  opacity: 1;
}

.header__nav__list__item a {
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  .header__nav__list__item:not(:last-child) {
    margin-right: 3.75rem;
  }
}

.header__logo {
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 1000px) {
  .header__logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 7rem;
  }
}

.header__img-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 66.75rem;
      grid-template-rows: 66.75rem;
  width: auto;
  height: 45rem;
  overflow: hidden;
}

@media only screen and (min-width: 800px) {
  .header__img-wrapper {
    height: 66.75vh;
    min-height: 66.75rem;
  }
}

.header picture {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.header__img {
  display: block;
  width: 100%;
  height: 45rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header__img--active {
  display: initial;
  opacity: 1;
}

.header__img--inactive {
  display: hidden;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

@media only screen and (min-width: 800px) {
  .header__img {
    height: 66.75vh;
    min-height: 66.75rem;
  }
}

.header__btn-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 800px) {
  .header__btn-wrapper {
    right: -20rem;
  }
}

.slider-btn {
  display: block;
  width: 7rem;
  height: 7rem;
  border: none;
  background-color: var(--color-black);
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.slider-btn img {
  width: 1.25rem;
  height: auto;
}

@media only screen and (min-width: 800px) {
  .slider-btn {
    width: 10rem;
    height: 10rem;
  }
  .slider-btn img {
    width: initial;
    height: auto;
  }
}

.slider-btn:hover {
  background-color: var(--color-very-dark-grey);
}

.hero {
  padding: 4rem;
  padding-top: 9rem;
}

@media only screen and (min-width: 800px) {
  .hero {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 75rem;
            flex: 1 1 75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem;
    padding-top: 0rem;
    padding-left: 7vw;
    padding-right: 5.25vw;
  }
}

.hero__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
  opacity: 1;
}

.hero__text-wrapper--hidden {
  opacity: 0;
}

.hero__heading {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 800px) {
  .hero__heading {
    max-width: 52.5rem;
    margin-bottom: 3.125rem;
  }
}

.hero__description {
  margin-bottom: 5rem;
}

@media only screen and (min-width: 800px) {
  .hero__description {
    max-width: 58.25rem;
    margin-bottom: 4rem;
  }
}

.hero__link {
  margin-bottom: 4rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media only screen and (min-width: 800px) {
  .hero__link {
    margin-bottom: 0;
  }
}

.hero__link:hover svg * {
  -webkit-transition: all .5s;
  transition: all .5s;
  fill: var(--color-dark-grey);
}

.hero__link svg {
  margin-left: 3rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 33.25vh;
    min-height: 33.25rem;
  }
}

.about__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 3 auto;
          flex: 1 3 auto;
  min-width: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

@media only screen and (min-width: 800px) {
  .about__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 3 auto;
            flex: 1 3 auto;
    min-width: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.about__text-wrapper {
  padding: 8rem 4rem;
}

@media only screen and (min-width: 800px) {
  .about__text-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 580px;
            flex: 1 1 580px;
    margin: auto 0;
    padding: 6rem;
  }
}

.about__heading {
  margin-bottom: 1.5rem;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
}

.header__nav__list__item a {
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: lowercase;
  color: black;
}

@media only screen and (min-width: 1000px) {
  .header__nav__list__item a {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.hero__heading {
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: -1px;
}

@media only screen and (min-width: 800px) {
  .hero__heading {
    font-size: 4.5rem;
    letter-spacing: -2px;
    line-height: 5.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .hero__heading {
    font-size: 4.75rem;
  }
}

@media only screen and (min-width: 1200px) {
  .hero__heading {
    font-size: 5rem;
  }
}

.hero__description {
  color: var(--color-dark-grey);
  line-height: 2.5rem;
}

.hero__link {
  color: black;
  font-weight: 700;
  letter-spacing: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
}

.hero__link:hover {
  color: var(--color-dark-grey);
}

.about__heading {
  font-size: 1.5rem;
  letter-spacing: 4px;
  word-spacing: 6px;
  text-transform: uppercase;
}

.about__description {
  color: var(--color-dark-grey);
  line-height: 2.5rem;
}
