body {
    overflow-x: hidden;
}

.bg-filter {
    display: hidden;
    position: absolute;
    z-index: 3;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    backdrop-filter: blur(2px);
    transition: opacity .5s, backdrop-filter .5s;

    &--active {
        display: initial;
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

.header-hero-wrapper {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 800px) {
        flex-direction: row;
    }
}

// ====================
// |     HEADER       |
// ====================

.header {
    position: relative;
    flex: 1 2 auto;

    &__nav-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 6rem;

        @media only screen and (min-width: 1000px) {
            justify-content: flex-start;
            padding: 8rem;
        }
    }

    &__menu-btn {    
        position: absolute;
        z-index: 5;
        top: 5.75rem;
        left: 4rem;

        @media only screen and (min-width: 1000px) {
            display: none;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0; 
        width: 100vw;
        height: 13.5rem;
        background-color: white;

        &--inactive {
            @media only screen and (max-width: 999px) {
                transform: translateY(-13.5rem);
                opacity: 0;
                transition: all .5s;
            }
        }

        &--active {
            @media only screen and (max-width: 999px) {
                transform: translate(0);
                opacity: 1;
                transition: all .5s;
            }
        }

        @media only screen and (min-width: 1000px) {
            display: initial;
            position: initial;
            transform: initial;
            width: initial;
            height: initial;
            background-color: initial;
            opacity: initial;
            transition: all .5s;
        }

        &__list {
            display: flex;
            margin-right: -6rem;
            margin-bottom: -.5rem;
            list-style: none;

            @media only screen and (min-width: 1000px) {
                margin: 0;
            }

            &__item {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -1rem;
                    left: 50%;
                    transform: translate(-50%);
                    width: 0;
                    height: 2px;
                    background-color: black;
                    opacity: 0;
                    transition: all .5s;

                    @media only screen and (min-width: 1000px) {
                        background-color: white;
                    }
                }

                &:not(:last-child) {
                    margin-right: 3rem;
                }

                &:hover {
                    &::after {
                        width: 100%;
                        opacity: 1;
                    }
                }

                a {
                    text-decoration: none;
                }

                @media only screen and (min-width: 1000px) {
                    &:not(:last-child) {
                        margin-right: 4rem;
                    }
                }
            }
        }
    }

    &__logo {
        position: relative;
        z-index: 2;

        @media only screen and (min-width: 1000px) {
            order: -1;
            margin-right: 7rem;
        }
    }

    &__img-wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 66.75rem;
        width: auto;
        height: 45rem;
        overflow: hidden;

        @media only screen and (min-width: 800px) {
            height: 66.75vh;
            min-height: 66.75rem;
        }
    }

    picture {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &__img {
        display: block;
        width: 100%;
        height: 45rem;
        object-fit: cover;
        transition: all 1s;

        &--active {
            display: initial;
            opacity: 1;
        }

        &--inactive {
            display: hidden;
            transform: scale(1.5);
            opacity: 0;
        }

        @media only screen and (min-width: 800px) {
            height: 66.75vh;
            min-height: 66.75rem;
        }
    }

    &__btn-wrapper {
        position: absolute;
        display: flex;
        bottom: 0;
        right: 0;

        @media only screen and (min-width: 800px) {
            right: -20rem;
        }
    }
}

// ====================
// |  SLIDER BUTTONS  |
// ====================

.slider-btn {
    display: block;
    width: 7rem;
    height: 7rem;
    border: none;
    background-color: var(--color-black);
    cursor: pointer;
    transition: all .5s;

    img {
        width: 1.25rem;
        height: auto;
    }

    @media only screen and (min-width: 800px) {
        width: 10rem;
        height: 10rem;

        img {
            width: initial;
            height: auto;
        }
    }

    &:hover {
        background-color: var(--color-very-dark-grey);
    }
}

// ====================
// |       HERO       |
// ====================

.hero {
    padding: 4rem;
    padding-top: 9rem;

    @media only screen and (min-width: 800px) {
        flex: 1 1 75rem;
        display: flex;
        align-items: center;
        padding: 4rem;
        padding-top: 0rem;
        padding-left: 7vw;
        padding-right: 5.25vw;
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__heading {
        margin-bottom: 2rem;

        @media only screen and (min-width: 800px) {
            max-width: 52.5rem;
            margin-bottom: 3.125rem;
        }
    }

    &__description {
        margin-bottom: 5rem;

        @media only screen and (min-width: 800px) {
            max-width: 58.25rem;
            margin-bottom: 4rem;
        }
    }

    &__link {
        margin-bottom: 4rem;
        transition: all .5s;

        @media only screen and (min-width: 800px) {
            margin-bottom: 0;
        }

        &:hover svg * {
            transition: all .5s;
            fill: var(--color-dark-grey);
        }

        svg {
            margin-left: 3rem;
        }
    }
}

// ====================
// |      ABOUT       |
// ====================

.about {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media only screen and (min-width: 800px) {
        flex-direction: row;
        height: 33.25vh;
        min-height: 33.25rem;
    }

    &__img {
        flex: 1 3 auto;
        min-width: 0;
        object-fit: cover;
        transition: opacity .5s;

        @media only screen and (min-width: 800px) {
            flex: 1 3 auto;
            min-width: 0;
            object-fit: cover;
        }
    }

    &__text-wrapper {
        padding: 8rem 4rem;

        @media only screen and (min-width: 800px) {
            flex: 1 1 580px;
            margin: auto 0;
            padding: 6rem;
        }
    }

    &__heading {
        margin-bottom: 2rem;
    }
}