body {
    min-height: 100vh;
}

.filter {
    display: none;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: all 1s;

    &--active {
        display: initial;
    }
}

.header-hero-wrapper {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 800px) {
        flex-direction: row;
    }
}

.header {
    position: relative;
    flex: 1 2 auto;

    &__nav-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 6rem;

        @media only screen and (min-width: 1000px) {
            justify-content: flex-start;
            padding: 8rem;
        }
    }

    &__menu-btn {    
        position: absolute;
        z-index: 5;
        top: 5.75rem;
        left: 4rem;

        @media only screen and (min-width: 1000px) {
            display: none;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        transform: translateY(-13.5rem);
        width: 100%;
        height: 13.5rem;
        background-color: white;
        opacity: 0;

        &--active {
            @media only screen and (max-width: 999px) {
                transform: translate(0);
                opacity: 1;
                transition: all .5s;
            }
        }

        @media only screen and (min-width: 1000px) {
            display: initial;
            position: initial;
            transform: initial;
            width: initial;
            height: initial;
            background-color: initial;
            opacity: initial;
            transition: all .5s;
        }

        &__list {
            display: flex;
            margin-right: -6rem;
            margin-bottom: -.5rem;
            list-style: none;

            @media only screen and (min-width: 1000px) {
                margin: 0;
            }

            &__item {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -1rem;
                    left: 50%;
                    transform: translate(-50%);
                    width: 0;
                    height: 2px;
                    background-color: white;
                    opacity: 0;
                    transition: all .5s;
                }

                &:not(:last-child) {
                    margin-right: 3rem;
                }

                &:hover {
                    &::after {
                        width: 100%;
                        opacity: 1;
                    }
                }

                a {
                    text-decoration: none;
                }

                @media only screen and (min-width: 1000px) {
                    &:not(:last-child) {
                        margin-right: 4rem;
                    }
                }
            }
        }
    }

    &__logo {
        @media only screen and (min-width: 1000px) {
            order: -1;
            margin-right: 7rem;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 45rem;
        object-fit: cover;

        @media only screen and (min-width: 800px) {
            height: 66.75rem;
        }
    }

    &__btn-wrapper {
        position: absolute;
        display: flex;
        bottom: 0;
        right: 0;

        @media only screen and (min-width: 800px) {
            right: -20rem;
        }
    }
}

.slider-btn {
    display: block;
    width: 7rem;
    height: 7rem;
    border: none;
    background-color: var(--color-black);
    cursor: pointer;
    transition: all .5s;

    img {
        width: 1.25rem;
        height: auto;
    }

    @media only screen and (min-width: 800px) {
        width: 10rem;
        height: 10rem;

        img {
            width: initial;
            height: auto;
        }
    }

    &:hover {
        background-color: var(--color-very-dark-grey);
    }
}

.hero {
    flex: 1 1 75rem;
    padding: 4rem;
    padding-top: 9rem;

    @media only screen and (min-width: 800px) {
        padding-top: 15rem;
        padding-left: 7rem;
    }

    &__text-wrapper {
        max-width: 53rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__heading {
        margin-bottom: 2rem;

        @media only screen and (min-width: 800px) {
            margin-bottom: 3.125rem;
        }
    }

    &__description {
        margin-bottom: 5rem;

        @media only screen and (min-width: 800px) {
            margin-bottom: 4rem;
        }
    }

    &__link {
        transition: all .5s;

        &:hover svg * {
            transition: all .5s;
            fill: var(--color-dark-grey);
        }

        svg {
            margin-left: 3rem;
        }
    }
}
