body {
    font-family: 'Spartan', sans-serif;
    font-size: 1.5rem;
}

// HEADER

.header {
    &__nav {
        &__list {
            &__item {
                a {
                    font-size: 1.75rem;
                    font-weight: 500;
                    text-transform: lowercase;
                    color: black;

                    @media only screen and (min-width: 1000px) {
                        color: white;
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

// HERO

.hero {
    &__heading {     
        font-size: 3.5rem;
        font-weight: 600;
        letter-spacing: -1px;

        @media only screen and (min-width: 800px) {
            font-size: 4.5rem;
            letter-spacing: -2px;
            line-height: 5.5rem;
        }

        @media only screen and (min-width: 1000px) {
            font-size: 4.75rem;
        }

        @media only screen and (min-width: 1200px) {
            font-size: 5rem;
        }
    }

    &__description {
        color: var(--color-dark-grey);
        line-height: 2.5rem;
    }

    &__link {
        color: black;
        font-weight: 700;
        letter-spacing: 1.25rem;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: var(--color-dark-grey);
        }
    }
}

// ABOUT

.about {
    &__heading {
        font-size: 1.5rem;
        letter-spacing: 4px;
        word-spacing: 6px;
        text-transform: uppercase;
    }

    &__description {
        color: var(--color-dark-grey);
        line-height: 2.5rem;
    }
}